body {
  min-width: 300px; /* Set your desired minimum width */
  min-height: 100px;
  max-height: 110px; /* Set your desired minimum height */
  margin: 10px; /* Remove any default margin */
  padding: 10px; /* Remove any default padding */
  box-sizing: border-box; /* Ensure padding is included in the total width and height */
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  overflow-y: auto;
}


  /* CSS */
  #h1 {
    max-width: 100px;
    text-align: center;
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 40px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 0 auto;
  }
  
  #h1:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  #h1:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  
  #highlights {
    margin-top: 10px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
  }
  
  
button{
  
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 6px 12px;
  border: 0;
  color: #fff;
  background: #000a47;
  line-height: 1.15;
  font-size: 12px;
  :hover {
      transition: all .1s ease;
      box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
  }

}

#addNoteBtn{
  margin: 10px;
  margin-left: 0;
  
}

  
  #newNoteInput {
    margin-top:5px;
    padding: 4px 8px; /* Reduced padding */
    font-size: 14px; /* Reduced font size */
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 4px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    width: 100%; /* Make it responsive */
    max-width: 260px; /* Set a maximum width */
  }
  
  #newNoteInput:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  }
  

#notes{
  margin-top: 10px;
}

.note{
  background-color: rgb(209, 224, 248);
  min-width: 260px;
  padding: 7px;
  margin-bottom: 8px;
    border: 1px solid #bfbfbf; /* 2px wide, solid style, green color */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Light shadow */
  
}


.edit-button{
  margin-right: 5px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  padding: 2px 8px;
  border: none;
  color: #fff;
  background-color: #2552b2;
  transition: background-color .17s ease,color .17s ease;

}

.delete-button{
  display: inline-block;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  padding: 2px 8px;
  border: none;
  color: #fff;
  background-color: #f44747;
  transition: background-color .17s ease,color .17s ease;
}

